{% load i18n comments_xtd %}

{% for item in comments %}
    {% if not item.comment.is_removed %}

        <li class="media" id="c{{ item.comment.id }}"
            style="margin-left:{{ item.comment.level }}00px; border-left:5px solid #ddd">
            <div class="media-left">
                <a href="{{ item.comment.url }}">
                    {% if item.comment.user.profile.fb_id or item.comment.user.profile.google_plus_picture %}
                        <img width="48" height="48"
                             src="{% if item.comment.user.profile.fb_id %}https://graph.facebook.com/v2.3/{{ item.comment.user.profile.fb_id }}/picture?type=square{% elif item.comment.user.profile.google_plus_picture %}{{ item.comment.user.profile.google_plus_picture }}{% endif %}"/>
                    {% else %}
                        {{ item.comment.user_email|xtd_comment_gravatar }}
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-heading">
                    {{ item.comment.name }}&nbsp;-&nbsp;{{ item.comment.submit_date|date:"d.m.Y H:i" }}
                    
                    <a id="ajapaik-comments-like-button" data-id="{{ item.comment.pk }}"
                       href="{% url "comments-xtd-like" item.comment.pk %}"
                       data-like-count-url="{% url "comments-like-count" item.comment.pk %}"
                       data-dislike-count-url="{% url "comments-dislike-count" item.comment.pk %}">{% trans "Like" %}<span
                            id="ajapaik-comments-like-count-{{ item.comment.pk }}">{% if item.comment.like_count > 0 %}({{ item.comment.like_count }}){% endif %}</span></a>
                    <a id="ajapaik-comments-dislike-button" data-id="{{ item.comment.pk }}"
                       href="{% url "comments-xtd-dislike" item.comment.pk %}"
                       data-like-count-url="{% url "comments-like-count" item.comment.pk %}"
                       data-dislike-count-url="{% url "comments-dislike-count" item.comment.pk %}">{% trans "Dislike" %}<span
                            id="ajapaik-comments-dislike-count-{{ item.comment.pk }}">{% if item.comment.dislike_count > 0 %}({{ item.comment.dislike_count }}){% endif %}</span></a>

                    {% if item.comment.allow_thread %}
                        <a id="ajapaik-comments-reply-button" data-id="{{ item.comment.pk }}"
                           href="{{ item.comment.get_reply_url }}">
                            {% trans "Reply" %}
                        </a>
                    {% endif %}
                    {% if item.comment.user == user %}
                        <a href="{% if rephoto %}{% url "comments-delete" item.comment.pk %}?next=

                            {{ rephoto.get_absolute_url }}{% elif photo %}{% url "comments-delete" item.comment.pk %}?next={{ photo.get_absolute_url }}{% endif %}">{% trans "Delete" %}</a>
                    {% endif %}
                </h6>

                <p>{{ item.comment.comment|render_markup_comment }}</p>
            </div>
        </li>

        {% if not item.comment.is_removed and item.children %}
            <div class="media">
                {% include "django_comments_xtd/comment_tree.html" with comments=item.children %}
            </div>
        {% endif %}

    {% endif %}
{% endfor %}
